.figure-img {
    margin-top: 10px;
    margin-right: 5px;
    float: left;
    background: url(example.jpg) 50% 50% no-repeat;
    /* 50% 50% centers image in div */
    background-size: auto 100%;
    /* Interchange this value depending on prefering width vs. height */
    width: 20px;
    height: 20px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}