{% extends "base.html" %} {% block title %} Console Detail
{% endblock title %} {% block content %}
{% load static %}
<div>
<div class="card mx-auto"  style="width: 60rem;">
{% comment %} class="card-img-top" {% endcomment %}
<img src="{{console_img}}" class="d-block w-100" height="400px" alt="...">
  <div class="card-body">
    <h1>{{console_name}}</h1>   
    <p class="card-text">{{console_desc}} </p>
    <p>Games count: {{games_count}}</p>
  <p>
    Browse Games:
    <a href="/console-games/{{console_slug}}/page-{{1}}">All Games</a>
  </p>
  </div>
</div>
  <!-- <img src="console_img}}" /> -->
  
{% endblock %}
