<h1>Game FAQ Clone</h1>
<div>
  <a href="/">Home</a>|| <a href="/login">login</a>||
  <a href="/logout">logout</a>|| <a href="/signup">signup</a>
</div>

<div>
  <!-- <img src="console_img}}" /> -->
  <h1>{{console_name}}</h1>
  <h2>Description:</h2>
  <p>{{console_desc}}</p>
  <p>Games count: {{games_count}}</p>
  <p>Browse Games: <a href="/console-games/{{console_slug}}">All Games</a></p>

  <div>
    <a href="">Game</a>||<a href="">Q&A</a>|| <a href="">Media</a>||
    <a href="">Board</a>
  </div>
</div>
