{% extends "base.html" %} {% block title %} <br />
{% endblock title %} {% block content %}

<h2>{{console}} Games:</h2>

{% for game in game_list %}
<div>
  <img width="250px" src="{{game.game_img}}" />
  <h3><a href="/game-detail/{{game.game_id}}">{{game.game_name}}</a></h3>
</div>

{% endfor %} {% if prev_page %}
<p>
  <a href="/console-games/{{console_slug}}/page-{{prev_page}}">previous</a> ||
  <a href="/console-games/{{console_slug}}/page-{{next_page}}">next</a>
</p>
{% else %}
<p><a href="/console-games/{{console_slug}}/page-{{next_page}}">next</a></p>
{% endif %} {% endblock %}
