{% extends "base.html" %} {% block title %} <br />
{% endblock title %} {% block content %}

<div>
  <h2>{{faq_post.faq_title}}</h2>
  <p>{{faq_post.faq_body}}</p>
  {% if faq_post.faq_img %}

  <img width="25%" height="auto" src="{{question_post.question_img.url}}" />
  {% endif %}
  <p>creator: {{faq_post.faq_creator}} at {{faq_post.date_created}}</p>
  <p>Game: {{faq_post.for_game}}</p>
  <img />
  {% if walkthrough_comments %}
  <h3>Walkthrough Comments:</h3>
  {% for comment in walkthrough_comments %}

  <p>{{comment.post_body}}</p>
  {% if comment.post_img %}
  <img width="25%" src="{{answer.answer_img.url}}" />
  {% endif %}
  <p>by :{{comment.creator}}</p>
  <p>-----------------------------------</p>
  {% endfor %}
</div>
{% else %}
<h3>Be the first one to comment on this walkthrough!</h3>

{% endif %}
<div>
  <h2>Comment on this walkthrough:</h2>
  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>
</div>

{% endblock %}
