{% extends "base.html" %} {% block title %} <br />
{% endblock title %} {% block content %}

<div>
  <img width="100%" src="{{game_img}}" />
  <h1>{{game_name}}</h1>
  <h2>Description:</h2>
  <p>{{game_desc}}</p>
  <p>Release Date: {{game_release}}</p>
  <p>ESRB Rating: {{esrb_rating}}</p>
  <p>Platforms: {{platforms}}</p>
  <!-- <p>data}}</p> -->

  <div><a href="/walkthrough/{{id}}">See Walkthrough</a></div>
  <div>
    <a href="/ask-game-question/{{id}}">Ask a question about this game</a>
  </div>
  <div>
    <h2>Walkthrough:</h2>
    {% for faq in faqs %}
    <p><a href="">{{faq}}</a></p>
    {% endfor %}
  </div>
  <div>
    <h2>Question's:</h2>
    {% for question in questions %}
    <p>
      <a href="/question-detail/{{question.id}}">{{question.question_title}}</a>
    </p>
    {% endfor %}
  </div>
</div>

{% endblock %}
