{% extends "base.html" %} {% block title %} Question Detail
{% endblock title %} {% block content %}

<div>
  <h2>{{question_post.question_title}}</h2>
  <p>{{question_post.question_body}}</p>
  {% if question_post.question_img %}

  <img width="25%" height="auto" src="{{question_post.question_img.url}}" />
  {% endif %}
  <p>
    Asked by
    <a href="/user/{{question_post.question_creator.id}}"
      >{{question_post.question_creator}}</a
    >
    at {{question_post.date_created}}
  </p>
  <p>Game: {{question_post.for_game}}</p>

  {% if answers %}
  <h3>Answers for this question:</h3>
  {% for answer in answers %}
  <p>{{answer.answer_body}}</p>
  {% if answer.answer_img %}
  <img width="25%" src="{{answer.answer_img.url}}" />
  {% endif %}
  <p>
    Answered by
    <a href="/user/{{answer.answer_creator.id}}">{{answer.answer_creator}}</a>
    on {{answer.date_created}}
  </p>
  <p>Likes: {{answer.likes}}</p>
  <p>Dislikes: {{answer.dislikes}}</p>
  <button><a href="/like_answer/{{answer.id}}">👍 Like</a></button>
  <button><a href="/dislike_answer/{{answer.id}}">👎 Dislike</a></button>
  <p>-----------------------------------</p>
  {% endfor %}
</div>

{% else %}
<h3>Be the first one to answer this question!</h3>
{% endif %} {% if request.user.is_authenticated %}
<div>
  <h2>Answer this question:</h2>
  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>
</div>
{% else %}
<p>Signup to be able to answer this question</p>
{% endif %} {% endblock %}
