{% extends "base.html" %} {% block title %} {% endblock title %} {% block
content %}
<div>
  <h2>This is your profile: {{user}}</h2>

  <ul>
    {{user}}'s Questions:
  </ul>
  {% for question in questions%}
  <li>
    <p><a href="/question-detail/{{question_post.id}}">{{question_post.question_title}}</a></p>
  </li>
  {% endfor %}
  <ul>
    {{user}}'s Walkthroughs:
  </ul>
  {% for walkthrough in walkthroughs %}
  <li>
    <p><a href="/walkthrough/{{walkthrough.id}}">{{walkthrough.walkthrough_title}}</a></p>
    <img src="{{walkthrough.walkthrough_img.url}}" />
  </li>
  {% endfor %}
</div>

{% endblock %}
